.wrapper
    width: 100%
    max-width: 960px
    margin: 0px auto
    padding-top: 35px

.recommended,
.card-container
    display: flex
    justify-content: space-between

.card-container
    flex-wrap: wrap

.card
    display: inline-block
    width: 300px
    background: cornflowerblue
    margin-bottom: 20px
    color: black
    &:hover i
        opacity: 1.0

.card-title
    +truncate
    background: blue
    padding: 10px
    font-size: 22px

.card-body
    border: 1px solid blue
    border-top: 0px
    border-bottom: 0px
    text-align: center
    i
        display: block
        color: black
        opacity: 0.8
    label
        display: inline-block
        font-weight: bold
        &:first-of-type
            margin-top: 0px
    input
        width: 100px
        border: 1px solid blue
        padding: 4px
    .cell
        align-items: center
        width: 50%
        min-height: 2em
        padding: 3px 4px
        &:first-of-type
            justify-content: end

.card-footer
    background: yellow
    margin-top: 15px
    padding: 10px
    text-align: right
