.image-wrapper {
  width: 100%;
  height: 500px;
  background-image: url('../../../public/lars-grossniklaus-718xbjiYdTs-unsplash.jpg');
  background-position: center center;
  background-size: cover;

  .header-image {
    display: flex;
    justify-content: center;
    height: 100%;
    background-position: top center;

    h1 {
    align-self: center;
    color: blue;
    font-family: sans-serif;
    font-size: 10vw;
    text-align: center;
    text-shadow: 2px 2px 10px blueviolet;
    opacity: 0.9;
    }
  }
}