.top-bar {
  background-color: cornflowerblue;
  color: white;
  display: flex;
  justify-content: space-between;
}

.top-bar-nav {
  display: inline-block;
}

.top-bar-link {
  display: inline-block;
  text-decoration: none;
}

.top-bar-link, .top-bar-cart-link {
  span {
    display: inline-block;
    border-right: 1px solid white;
    padding: 15px 19px;
    color: white;
    font-size: 16px;
    text-decoration: none;
  }
}

.top-bar-link {
  display: inline-block;
  text-decoration: none;

  i {
    margin-left: 10px;
    color: white;
    font-size: 40px;
    text-decoration: none;
    vertical-align: -8px;
  }

  &:hover {
    background-color: blue;
  }

  &:first-of-type span {
    padding-left: 10px;
  }
}

.top-bar-cart-link {
  text-decoration: none;
  cursor: default;

  span {
    border: 0px;
    font-size: 16px;
  }

  &:hover span {
    text-decoration: underline;
  }

  i, &:hover i {
    margin-right: -7px;
    color: white;
    font-size: 31px;
    text-decoration: none;
    vertical-align: -4px;
  }
}