<template>
  <header class="top-bar">
    <nav class="top-bar-nav">
      <router-link to="/" class="top-bar-link">
        <i class="bi bi-shop"></i>
        <span>Home</span>
      </router-link>
      <router-link to="/products" class="top-bar-link">
        <span>Products</span>
      </router-link>
    </nav>

    <div @click="toggleSidebar" class="top-bar-cart-link">
      <i class="bi bi-cart"></i>
      <span>Cart (0)</span>
    </div>

  </header>
  <router-view :inventory="inventory"/>
  <SidebarComponent
    v-if="showSidebar"
    :toggle="toggleSidebar"
    :cart="cart"
    :inventory="inventory"
    :remove="removeItem"
  />
</template>
<script>
import SidebarComponent from '@/components/SidebarComponent.vue'
import food from '@/food.json'
export default {
  components: { SidebarComponent },
  data () {
    return {
      showSidebar: false,
      inventory: food,
      cart: {}
    }
  },
  methods: {
    addToCart (name, index) {
      if (!this.cart[name]) this.cart[name] = 0
      this.cart[name] += this.inventory[index].quantity
    },

    toggleSidebar () {
      this.showSidebar = !this.showSidebar
    },
    removeItem (name) {
      delete this.cart[name]
    }
  }
}
</script>
